
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <canvas id='canvas' width="600" height="600">Ваш браузер устарел!</canvas>
</div>
    <script src="~/Scripts/getDraw.js"></script>



