
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="/Main/IndexPost">
    Login:<br>
    <input id="login" type="text" name="login" value="">
    <br><br>
    <input id="signIn" type="submit" value="Submit">
</form>
<script src="~/Scripts/setCookie.js"></script>